body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}


p {
    font-size: 23px;
    color: hsl(0, 100%, 99%);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 1px;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

h3 {
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}  
div.header {
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgba(255, 0, 0, 0.8);
height: 70px;
border-radius: 8px;
padding: 0 20px;
position: relative;
width: 100%;
box-sizing: border-box;
}
div.container1 {
   background-color: #f30707;
   margin-top: 50px;
   width: 40%;
   height: 300px;
   margin-bottom: 200px;
  padding: 10px;
  margin-left: 150px;
}
div.container2 {
    background-color: #f30707;
    width: 40%;
   height: 370px;
   bottom: 200px;
   margin-left: 750px;
   margin-top: -150px;
    padding: 10px;
}
div.bg {
       background-image: url('background.png');
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}
.container {
  position: relative;
  height: calc(100vh - 100px); 
  background-color: #f4f4f4;
}


.top-right-image {
  position: absolute;
  top: 38%;            
  right: 200px;          
  width: 25%;          
  height: auto;         
  transform: translateY(-50%); 
  object-fit: cover;
  border-radius: 8px;
}
.bottom-left-image {
  position: absolute;
  bottom: 15%;              
  left: 200px;              
  width: 35%;
  height: auto;
  transform: translateY(50%); 
  object-fit: cover;
  border-radius: 8px;

}

p1 {
    font-size: 14px;
    color: hsl(0, 100%, 99%);
    margin-bottom: 0px;
    text-align: center;
}
p2 {
    font-size: 14px;
    color: hsl(0, 100%, 99%);
    margin-bottom: 0px;
    text-align: center;
}
p3 {
    font-size: 14px;
    color: hsl(0, 100%, 99%);
    margin-bottom: 0px;
    text-align: center;
}
p4 {
    font-size: 14px;
    color: hsl(0, 100%, 99%);
    margin-bottom: 0px;
    text-align: center;
}
