body {
    background:#111;
    color:#fff;
    text-align:center;
    padding-top:100px;
}
a {
    color:#0f0;
    text-decoration:none;
    font-size:24px;
}
a:hover {
    text-decoration:underline;
}   
h1 {
    font-size:48px;
    margin-bottom:20px;
}
p {
    font-size:18px;
}
