body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background-color: #000000;
    color: #ffffff
}

header {
    background-color: #b30000;
    display: flex;
    justify-content: space-between;
    color:gold;  
    height: 100px;
}

.header-row {
  display: flex;
  align-items: center;  
  width: 100%;    
  justify-content: space-between; 
  padding: 1rem;       
}

.title{
    flex-grow: 1;
    text-align: center;
    color: gold;
    font-size: 2rem;
    margin: 0;
}

.box {
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 0.5em;
    background-color:gold;
    text-align: center;
    color: #ffffff;
    width: 80px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: large;

}

.spacer {
    width: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.plan h2 {
    color: #b30000;
    text-align: center;
}

.goals-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.goal {
    flex: 1 1 30%;
    background-color:#000000;
    border-left: 5px solid gold;
    padding: 1rem;
    border-radius: 5px;
    color:#ffffff
}